<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.jap.mapper.GuideVersionMapper">
    <select id="selectById" resultType="edu.nju.jap.model.po.GuideVersion">
        SELECT * FROM guide_version WHERE id=#{id}
    </select>
    <select id="selectActive" resultType="edu.nju.jap.model.po.GuideVersion">
        SELECT * FROM guide_version ORDER BY id LIMIT 1
    </select>
    <select id="selectAll" resultType="edu.nju.jap.model.po.GuideVersion">
        SELECT * FROM guide_version ORDER BY id
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO guide_version(version_name, description) VALUES (#{versionName}, #{description})
    </insert>
    <update id="update">
        UPDATE guide_version SET version_name=#{versionName}, description=#{description} WHERE id=#{id}
    </update>
    <delete id="deleteById">DELETE FROM guide_version WHERE id=#{id}</delete>
</mapper>