<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.jap.mapper.LabelL2Mapper">
    <select id="selectByVersionId" resultType="edu.nju.jap.model.po.LabelL2">
        SELECT l2.* FROM label_l2 l2 WHERE l2.guide_version_id=#{versionId}
    </select>
    <delete id="deleteByVersionId">DELETE FROM label_l2 WHERE guide_version_id=#{versionId}</delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO label_l2(guide_version_id, parent_l1_id, name, abbr, description)
        VALUES (#{guideVersionId}, #{parentL1Id}, #{name}, #{abbr}, #{description})
    </insert>
</mapper>
