<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.jap.mapper.PropositionMapper">
    <select id="selectByAnnotationId" resultType="edu.nju.jap.model.po.PropositionPo">
        SELECT *
        FROM proposition
        WHERE annotation_id = #{annotationId}
        ORDER BY sequence_no
    </select>

    <delete id="deleteByAnnotationId">
        DELETE FROM proposition WHERE annotation_id = #{annotationId}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO proposition(annotation_id, display_id, sequence_no, start_pos, end_pos, selected_text, label_l1, label_l2, label_path)
        VALUES (#{annotationId}, #{displayId}, #{sequenceNo}, #{startPos}, #{endPos}, #{selectedText}, #{labelL1}, #{labelL2}, #{labelPath})
    </insert>
</mapper>
