<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.jap.mapper.RelationMemberMapper">
    <select id="selectByRelationId" resultType="edu.nju.jap.model.po.RelationMember">
        SELECT * FROM relation_member WHERE relation_id=#{relationId}
    </select>
    <delete id="deleteByRelationId">DELETE FROM relation_member WHERE relation_id=#{relationId}</delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO relation_member(relation_id, source_type, source_id) VALUES (#{relationId}, #{sourceType}, #{sourceId})
    </insert>
</mapper>
