<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.jap.mapper.RelationMapper">
    <select id="selectByAnnotationId" resultType="edu.nju.jap.model.po.RelationPo">
        SELECT *
        FROM argument_relation
        WHERE annotation_id = #{annotationId}
        ORDER BY sequence_no
    </select>

    <delete id="deleteByAnnotationId">
        DELETE FROM argument_relation WHERE annotation_id = #{annotationId}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO argument_relation(annotation_id, display_id, sequence_no, relation_type, expression)
        VALUES (#{annotationId}, #{displayId}, #{sequenceNo}, #{relationType}, #{expression})
    </insert>
</mapper>
